
.todo-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.todo-wrapper {
    width: 200%;
    max-width: 800px;
    background-image: url('./bg-2.jpg'); 
    background-size: cover; 
    background-position: center; 
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column; 
  }
h3 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 20px;
}


.form-floating {
    width: 100%; 
    margin-bottom: 10px;
}

#todoInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}


.btn-success {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px; 
}

.btn-success:hover {
    background-color: #218838;
}


.list-group {
    width: 100%; 
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%; 
}


.form-check-input {
    margin-right: 10px;
}
.completed-task {
    text-decoration: line-through;
    color: gray;
}
.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
}
