.container {
    background-image: url('./bg-2.jpg');
    max-width: 600px;
    margin: 50px auto;
    background-size: cover; 
    background-position: center; 
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
}
h3 {
    font-family: sans-serif;
    text-align: center;
    color: #333;
    font-family: 'Arial Narrow Bold', sans-serif;
}
table {
    width: 100%;
    margin-top: 30px;
    color: white;
    border-collapse: collapse; 
}

thead {
    background-color: #6c757d; 
}

tbody tr {
    background-color: #343a40; 
}

tbody tr:hover {
    background-color: #495057; 
}

.btn-warning, .btn-danger {
    margin-right: 5px;
}
.form-control {
    margin-bottom: 10px;
}
.btn-primary:hover, 
.btn-warning:hover, 
.btn-danger:hover {
    opacity: 0.8;
}
.small-input {
    width: 100%; 
    max-width: 600px; 
    padding: 8px;
    font-size: 16px; 
}
.small-table th, 
.small-table td {
    padding: 12px; 
    font-size: 16px; 
    max-width: 100px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center; 
}
